<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.wisent.skarbiec-release-publisher</string>
  <key>ProgramArguments</key>
  <array>
    <string>/Users/charles/weles/scripts/worker/deploy/skarbiec-release-broker/launch-publisher.sh</string>
  </array>
  <key>WorkingDirectory</key>
  <string>/Users/charles/weles</string>
  <key>RunAtLoad</key>
  <true/>
  <key>StartInterval</key>
  <integer>60</integer>
  <key>ProcessType</key>
  <string>Background</string>
  <key>StandardOutPath</key>
  <string>/Users/charles/weles/var/skarbiec-release-publisher.log</string>
  <key>StandardErrorPath</key>
  <string>/Users/charles/weles/var/skarbiec-release-publisher.error.log</string>
  <key>EnvironmentVariables</key>
  <dict>
    <key>HOME</key>
    <string>/Users/charles</string>
    <key>PATH</key>
    <string>/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
  </dict>
</dict>
</plist>
